:root {
    --black: #212121;
    --grey: #757575;
    --white: #ffffff;
    --dark_grey: #2f303a;
    --blue: #2196f3;
    --dark-blue: #188ce8;
    --light-grey: #ffffff99;
    --white2: #f5f4fa;
  }
  header .container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 80px;
    width:1200px;
}

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
  }

  body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: var(--black);
    margin: 0 auto;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    
}
header .logo,
footer .logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
}
header .logo{
    margin-top:25px;
    margin-left: auto;
}
header{
  line-height: 1.172;
  font-weight: 500;
  display: flex;
  width: 100%;
  height: 80px;
}

.navigation{
  display: flex;
  letter-spacing: 0.02em;
  margin:32px auto;
}
header.logo{
  margin: 24px 93px 25px 215px;
}
.navigation a {
  margin-right:50px;
}
header ul{
  margin: 32px auto 32px auto;
}
.contacts{
  margin:32px auto 32px 304px ;
  letter-spacing: 0.02em;
}
.contacts a{
  color: var(--grey);
}
.contacts .info{
  margin-right: 40px;
}
  .accent-text-logo {
    color: var(--blue);
    letter-spacing: 0.03em;
    
  }
  
  .contacts{
    letter-spacing:0.02em;
    display: flex;
    gap: 40px;
    margin-top: 32px;
    margin-bottom: 32px;
    a:hover,
    a:focus {
      transition: 300ms;
      color: var(--blue);
    }
  }
  .contacts a:nth-child(1) {
    width: 135px;
    height: 16px;
    left: 1088px;
    top: 32px;
    padding-left: 354px;
    padding-right: 40px;
  } 

  .contacts a:nth-child(2) {
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;
    padding-left: 40px;
    padding-right: 215px;

  }

  .portfolio{
    letter-spacing:0.02em;
  }

  .gallery,
  .team-list {
    list-style-type: none;
  }

  a:hover,
  a:focus {
    transition: 300ms;
    color: var(--blue);
  }
  
  button:hover,
  button:focus {
    transition: 300ms;
    background-color: var(--dark-blue);
  }
  
  button,
.btn {
    transition: 300ms;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;

  }
  
  .btn {
    background-color: var(--white2);
    font-weight: 500;
    color: var(--black);
    line-height: 1.625;
    letter-spacing: 0.03em;
    border: none;
    
  }
  
  .product-description {
    color: var(--grey);
}


  button {
    background-color: var(--blue);
    color: var(--white);
    font-weight: 700;
    line-height: 1.875;
    border: none;
    outline: none; 
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    

  }

  
  a {
    transition: 300ms;
    text-decoration: none;
    color: inherit;
    font-weight: 500;
  }
  
  .logo {
    color: inherit;
    text-decoration: none;
    font-size: 26px;
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    color: var(--black);
    margin-right: 93px;
    margin-left: 215px;
    margin-top: 24px;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

  }
  header .logo {
    color: var(--black);
    
  }
  
  .btn_list .btn:hover {
    color: var(--white); 
  }

  .contacts a {
    transition: 300ms;
    text-decoration: none;
    color: var(--grey);
  }
  
  h1,
  h2,
  h3 {
    font-weight: 500;
    letter-spacing: 0.03em;
  }
  
  .banner h1 {
    color: var(--white);
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;

  }

  .banner {
    background-color: var(--dark_grey);
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
  }
  
  .info h3 {
    font-size: inherit;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  
  .info p {
    color: var(--grey);
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  
  .projects h2,
  .team h2 {
    font-size: 36px;
    letter-spacing: 0.03em;
  }
  
  .projects img {
    width: 370px;
    height: 294px;
  }
  
  .team img {
    width: 270px;
    height: 260px;
  }
  
  .team h3 {
    font-size: 16px;
    letter-spacing: 0.03em;
    font-weight: 500;
  }
  
  .team p {
    color: var(--grey);
    font-size: 16px;
    letter-spacing: 0.03em;
  }
  .white {
    color: var(--white);
  }
  footer {
    background-color: var(--dark_grey);
  }
  
  footer .logo-footer {
    color: var(--white);
  }
  
  footer address p {
    color: var(--white2);
    letter-spacing:0.0em;
  }

  footer address a {
    color: var(--grey);
    letter-spacing: 0.03em;
  }
  .logo-footer {
    color: inherit;
    text-decoration: none;
    font-size: 26px;
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    color:#ffffff;
  }
