:root {
    --black: #212121;
    --grey: #757575;
    --white: #ffffff;
    --dark_grey: #2f303a;
    --blue: #2196f3;
    --dark-blue: #188ce8;
    --light-grey: #ffffff99;
    --white2: #f5f4fa;
    --border-color: #eeeeee;
    --border-header-color: #ececec;
    --svg-icons: #AFB1B8;

  }
  header .container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 80px;
    width:1200px;
}

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

  }

  a,p,h1,h2,h3,li{
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--black);
    margin: 0 auto;
    padding: 0;
  }

  img {
    display: block;
  }

  .container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    
}
header .logo,
footer .logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
}

header{
  line-height: 1.172;
  font-weight: 500;
  display: flex;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid var(--border-header-color);
}
nav{
  margin-left:93px;
}
header ul{
  margin: 32px auto 32px auto;
}
.accent-text-logo {
  color: var(--blue);
  letter-spacing: 0.03em;
}
.navigation{
  align-items: center;
  letter-spacing:0.02em;
  display: flex;
  gap: 50px;
  margin: 0 auto;
}

  
  .contacts{
    letter-spacing:0.02em;
    display: flex;
    gap: 40px;
    margin-left: auto;
    a:hover,
    a:focus {
      transition: 300ms;
      color: var(--blue);
    }
  }
  .contacts-svg {
    margin-right: 10px;
    align-self: center;
    fill: currentColor;
}
.banner{
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
  url("../images/banner-photo.jpg") center/cover no-repeat;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info-title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.info-opus-pid-title {
  color: var(--grey);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.info-section-svg {
  max-width: 270px;
}

.info-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: var(--white2);
  border-radius: 4px;
}

  .portfolio{
    letter-spacing:0.02em;
  }

  .gallery,
  .team-list {
    list-style-type: none;
  }


.team{
  background-color: #f5f4fa;
}

  a:hover,
  a:focus {
    transition: 300ms;
    color: var(--blue);
  }
  
  button:hover,
  button:focus {
    transition: 300ms;
    background-color: var(--dark-blue);
  }
.team-title{
  font-weight: 100%;
}
  .team-social-networks {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 16px;

    li {
        width: 44px;
        height: 44px;
    }

    a:hover, a:focus {
        background-color: var(--blue);
        color: var(--white);
        outline: none;
    }
}

.team-social-networks-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: var(--svg-icons);
    fill: currentColor;
    transition: all 300ms ease-in-out;
}
.projects-title,
.team-title,
.customers-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.customers {
  text-align: center;
  padding: 94px 0;
  margin: 0;
}

.customers-list {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 30px;

  a {
      border-radius: 4px;
      border: 1px var(--svg-icons) solid;
      display: inline-block;
      color: var(--svg-icons);
      transition: color 0.5s, border 0.5s;
  }

  a:hover, a:focus {
      color: var(--blue);
      border: 1px var(--blue) solid;
  }
}

.customers-svg {
  width: 100%;
  height: 100%;
  padding: 16px 32px;
  fill: currentColor;
  transition: fill 0.5s;
}
  
  button,
.btn {
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;

  }
  
  .btn {
    background-color: var(--white2);
    font-weight: 500;
    color: var(--black);
    line-height: 1.625;
    letter-spacing: 0.03em;
    border: none;
    
  }
  
  .product-description {
    color: var(--grey);
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
}


  button {
    background-color: var(--blue);
    color: var(--white);
    font-weight: 700;
    line-height: 1.875;
    border: none;
  }

  
   

  a {
    transition: 300ms;
    text-decoration: none;
    color: inherit;
    font-weight: 500;
  }
  
  .logo {
    color: inherit;
    text-decoration: none;
    font-size: 26px;
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    color: var(--black);
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

  }
  header .logo {
    color: var(--black);
    
  }
  
  .btn_list .btn:hover {
    color: var(--white); 
  }

  .contacts a {
    display: flex;
    align-items: center;
    transition: 300ms;
    text-decoration: none;
    color: var(--grey);
  }
  
  h1,
  h2,
  h3 {
    font-weight: 500;
    letter-spacing: 0.03em;
  }
  
  .banner h1 {
    text-align: center;
    font-size: 44px;
    line-height: 1.364;
    color: var(--white);
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 696px;
    margin: 0 auto;
  }
  .banner-button {
    font-size: 16px;
    line-height: 1.875;
    background-color: var(--blue);
    color: var(--white);
    padding: 10px 24px;
    margin-top: 30px; 
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 0.06em;
}
section{
  padding-top: 94px;
  padding-bottom: 94px;
}
  .banner {
    background-color: var(--dark_grey);
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center; 
    margin-top: 0px;
  }
  .inform {
    display: flex;
    padding: 0;
  }
  .inform li:last-child {
    margin-right: 0; 
  }
  .inform li {
    margin-right: 30px;
  }
  .inform p{
    width: 270px;
  }
  .projects {
    text-align: center;
  }
  .projects h2 {
    margin-bottom: 50px;
    font-weight: 700;
  }
  .projects ul {
    display: flex;
    padding: 0;
  }
  .projects li{
    margin-right: 30px;
  }
  .projects li:last-child{
    margin-right: 0px;
  }
  .info h3 {
    font-size: inherit;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .buttons{
    display: flex;
    margin-bottom:50px;
   
}
.btn{
  font-size: 16px;
  line-height: 1.625;
  font-weight: 500;
  padding: 6px 22px;
  border-radius: 5px;
}
.btn_list{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.btn_list li {
  margin-right: 8px;
}
.btn:last-child{
  margin-right: 0px;
}
.services {
  display: flex;
  justify-content: center;
  align-items: center;
}
.products_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1170px; 
  grid-gap: 30px;
}
.products_list li {
  display: block;
  max-width: 370px;  
}

.product-title{
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}
.info{
  padding-bottom: 0;
}
.product-content{
  padding: 20px 24px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.info p {
  color: var(--grey);
  line-height: 1.71;
  letter-spacing: 0.03em;
}
  .projects h2,
  .team h2 {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
  }
  
  .projects img {
    width: 370px;
    height: 294px;
  }
  
  .team img {
    width: 270px;
    height: 260px;
  }
  
  .team h3 {
    font-size: 16px;
    letter-spacing: 0.03em;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .team{
    text-align: center;

}
.team h2{
    margin-bottom: 50px;
}
.text{
  padding: 30px;
}
.developer {
  border-radius: 0px 0px 4px 4px;
  background: var(--white);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  display: block;
  width: 270px;
}
.team-list{
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;  
  justify-content: center;
  text-align: center;
  gap: 30px;
}
.team-list:last-child{
  margin-left:0px;
}

  .team p {
    color: var(--grey);
    font-size: 16px;
    letter-spacing: 0.03em;
  }
  .white {
    color: var(--white);
  }
  footer {
    background-color: var(--dark_grey);
    align-items: baseline;
   
  .container{
    display: flex;
    gap: 80px;
    align-items: baseline;
    justify-content: start;

  }
  }
  
  

    footer .logo-footer {
      color: var(--white);
      
    }
    .footer-adress {
      width: auto;
  }
    footer address {
      font-style: normal;
      margin-top: 28px;
    }
  
  footer address .link-address {
    color: var(--white2);
    letter-spacing:0.0em;
  }

  footer address a {
    color: var(--grey);
    letter-spacing: 0.03em;

  }
  footer li{
    margin-bottom: 12px;
  }
  footer li:last-child{
    margin-bottom:0px;
  }
  .logo-footer {
    text-decoration: none;
    font-size: 26px;
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    color:#ffffff;
    margin-bottom: 28px;
  }
  footer .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

.footer-svg{
  height: 80px;
  width: 206px;

}
  .footer-text-title {
      color: var(--white);
      font-weight: 700;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      margin-bottom: 20px;
  }
  
  .footer-socials-networks {
      display: flex;
      width: 100%;
      justify-content: center;
      gap: 10px;
  
      li {
          height: 44px;
          width: 44px;
      }
  
      .social-networks-link {
          display: flex;
          align-items: center;
          border-radius: 50%;
          background: rgba(255, 255, 255, 0.1);
          width: 100%;
          height: 100%;
          justify-content: center;
          color: var(--white);
          fill: currentColor;
      }
  
      .social-networks-link:hover,
      .social-networks-link:focus {
          color: var(--white);
          fill: currentColor;
          background-color: var(--blue);
      }
    }
